 <h1>Hello</h1>
 
 <a href="/">Your todo list</a>
      |
      <a href="/edit_user_profile">Edit profile</a>
      |
      <a href="/user_sign_out">Sign out</a>

    <h1>Your todo list</h1>

<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_todo" method="post">
      <div>
        <label for="content_box">
          Describe the task:
        </label>

        <input type="text" id="content_box" name="query_content">
      </div>

      <button>
        Add to Next Up
      </button>
    </form>
  </div>
</div>

<% if false %>
<div class="next_up">
  <h2>Next Up</h2>

  <ul>
      <li>
        <div>Build a web app</div>

        <small>
          Added 5 minutes ago

          <a href="/delete_todo/157488">Delete</a>
        </small>

        <form action="/modify_todo/157488" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
      <li>
        <div>I&#39;ll compress the mobile AGP program, that should program the HDD array!</div>

        <small>
          Added about 1 hour ago

          <a href="/delete_todo/157441">Delete</a>
        </small>

        <form action="/modify_todo/157441" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
      <li>
        <div>The SSL microchip is down, transmit the 1080p monitor so we can calculate the THX pixel!</div>

        <small>
          Added about 1 hour ago

          <a href="/delete_todo/157440">Delete</a>
        </small>

        <form action="/modify_todo/157440" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
      <li>
        <div>I&#39;ll generate the digital SMS panel, that should interface the COM firewall!</div>

        <small>
          Added about 1 hour ago

          <a href="/delete_todo/157439">Delete</a>
        </small>

        <form action="/modify_todo/157439" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
      <li>
        <div>Use the bluetooth XML matrix, then you can connect the wireless feed!</div>

        <small>
          Added about 1 hour ago

          <a href="/delete_todo/157438">Delete</a>
        </small>

        <form action="/modify_todo/157438" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
      <li>
        <div>If we override the application, we can get to the PNG microchip through the neural SCSI panel!</div>

        <small>
          Added about 1 hour ago

          <a href="/delete_todo/157437">Delete</a>
        </small>

        <form action="/modify_todo/157437" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
      <li>
        <div>Use the 1080p SCSI bus, then you can input the back-end matrix!</div>

        <small>
          Added about 1 hour ago

          <a href="/delete_todo/157436">Delete</a>
        </small>

        <form action="/modify_todo/157436" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
      <li>
        <div>Use the primary AGP circuit, then you can back up the wireless interface!</div>

        <small>
          Added about 1 hour ago

          <a href="/delete_todo/157435">Delete</a>
        </small>

        <form action="/modify_todo/157435" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
      <li>
        <div>If we synthesize the program, we can get to the CSS panel through the virtual SMS feed!</div>

        <small>
          Added about 1 hour ago

          <a href="/delete_todo/157434">Delete</a>
        </small>

        <form action="/modify_todo/157434" method="post">
          <input type="hidden" name="query_status" value="in_progress">
          <button>Move to In Progress</button>
        </form>
      </li>
  </ul>
</div>

<div class="in_progress">

  <h2>In Progress</h2>

  <ul>
      <li>
        <div>
          Use the solid state SDD matrix, then you can hack the digital application!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157452">Delete</a>
        </small>

        <form action="/modify_todo/157452" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          Use the mobile HTTP bandwidth, then you can reboot the solid state card!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157451">Delete</a>
        </small>

        <form action="/modify_todo/157451" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          We need to override the primary THX feed!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157450">Delete</a>
        </small>

        <form action="/modify_todo/157450" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          You can&#39;t navigate the pixel without overriding the open-source HDD sensor!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157449">Delete</a>
        </small>

        <form action="/modify_todo/157449" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          If we index the bus, we can get to the HTTP transmitter through the digital CSS interface!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157448">Delete</a>
        </small>

        <form action="/modify_todo/157448" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          Use the back-end PCI monitor, then you can transmit the back-end firewall!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157447">Delete</a>
        </small>

        <form action="/modify_todo/157447" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          You can&#39;t compress the transmitter without synthesizing the haptic IB alarm!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157446">Delete</a>
        </small>

        <form action="/modify_todo/157446" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          Connecting the hard drive won&#39;t do anything, we need to hack the wireless sdd monitor!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157445">Delete</a>
        </small>

        <form action="/modify_todo/157445" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          I&#39;ll hack the optical SQL firewall, that should capacitor the PNG capacitor!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157444">Delete</a>
        </small>

        <form action="/modify_todo/157444" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
      <li>
        <div>
          You can&#39;t transmit the microchip without copying the mobile XSS firewall!

        </div>

        <small>
          Started about 1 hour ago
        
          <a href="/delete_todo/157443">Delete</a>
        </small>

        <form action="/modify_todo/157443" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
      </li>
  </ul>
</div>

<div class="done">

  <h2>Done</h2>

  <ul>
      <li>
        <div>You can&#39;t transmit the monitor without connecting the optical IB transmitter!</div>

        <small>
          Completed at  4:48pm on 14-Mar-2023

          <a href="/delete_todo/157442">Delete</a>
        </small>        
      </li>
      <li>
        <div>We need to compress the bluetooth USB monitor!</div>

        <small>
          Completed at  4:05pm on 14-Mar-2023

          <a href="/delete_todo/157458">Delete</a>
        </small>        
      </li>
      <li>
        <div>Try to transmit the HTTP driver, maybe it will input the neural sensor!</div>

        <small>
          Completed at  4:05pm on 14-Mar-2023

          <a href="/delete_todo/157457">Delete</a>
        </small>        
      </li>
      <li>
        <div>Use the mobile HTTP panel, then you can synthesize the primary port!</div>

        <small>
          Completed at  4:05pm on 14-Mar-2023

          <a href="/delete_todo/157456">Delete</a>
        </small>        
      </li>
      <li>
        <div>Programming the bandwidth won&#39;t do anything, we need to compress the open-source jbod driver!</div>

        <small>
          Completed at  4:05pm on 14-Mar-2023

          <a href="/delete_todo/157455">Delete</a>
        </small>        
      </li>
      <li>
        <div>I&#39;ll back up the haptic SMS system, that should pixel the AGP matrix!</div>

        <small>
          Completed at  4:05pm on 14-Mar-2023

          <a href="/delete_todo/157454">Delete</a>
        </small>        
      </li>
      <li>
        <div>Try to back up the SAS alarm, maybe it will transmit the bluetooth feed!</div>

        <small>
          Completed at  4:05pm on 14-Mar-2023

          <a href="/delete_todo/157453">Delete</a>
        </small>        
      </li>
  </ul>
</div>
<% end %>
